# Build results
[Dd]ebug/
[Rr]elease/
x64/
x86/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/

# MAUI specific
*.db
*.db-shm
*.db-wal
*.sqlite
*.sqlite3

# Visual Studio
.vs/
*.suo
*.user
*.userosscache
*.sln.docstates

# VS Code
.vscode/

# NuGet
*.nupkg
packages/
.nuget/

# Logs
*.log

# OS generated
.DS_Store
Thumbs.db

# Android
*.apk
*.aab
*.ap_

# iOS / MacCatalyst
*.dSYM
*.ipa
*.xcuserstate
*.xcworkspace/
*.xcuserdata/

# Windows
*.appx
*.appxbundle
*.msix
*.msixbundle

# Rider / JetBrains
.idea/
*.iml

# Resharper
_ReSharper*/
*.[Rr]e[Ss]harper
